<form action="/auth" method="POST">
  <label for="">Email</label>
  <input type="text" name="email">
  <labe>Password</labe>
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>
