<form action="/auth/register" method="POST">
  <label for="">Username</label>
  <input type="text" name="user[username]">
  <labe>Email</labe>
  <input type="text" name="user[email]">
  <labe>Password</labe>
  <input type="text" name="user[password_hash]">
  <labe>Recover Password</labe>
  <input type="text" name="user[recover_password]" placeholder="Any secret">
  <input type="submit" value="Login">
</form>
