<div class="container" style="margin-top:2.5%">
    <div class="row">
        <h3>Settings</h3>
        <div class="card-content">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a href="#personal" class="active">Personal</a></li>
              <li class="tab"><a class="" href="#media">Media</a></li>
              <li class="tab"><a href="#social">Social</a></li>
              <div class="indicator" style="right: -0.0500031px; left: 141.05px;"></div></ul>
            </div>
            <div class="card-content grey lighten-4">
              <div id="personal" class="">
                <form id="setting-form-personal"action="/auth/setting/personal" method="POST">
                    <div class="col s12">
                        <div class="input-field col s6">
                            <input name="display_name" type="text" class="validate">
                            <label class="active">Display Name</label>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field col s3">
                            <input name="first_name" type="text" class="validate">
                            <label class="active">First Name</label>
                        </div>
                        <div class="input-field col s3">
                            <input name="last_name" type="text" class="validate">
                            <label>Last name</label>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field col s3">
                            <input name="country" type="text" class="validate">
                            <label>Country</label>
                        </div>
                        <div class="input-field col s3">
                            <input name="city" type="text" class="validate">
                            <label>City</label>
                        </div>
                    </div>
                    <div class="col s12">
                      <div class="input-field col s6">
                        <textarea name="bio" class="materialize-textarea"></textarea>
                        <label for="address">Bio</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                      </div>
                    </div>
                </form>
              </div>
              <div id="media"  class="" style="display: none;">
                <form action="/auth/setting/media" method="POST" enctype="multipart/form-data" >
                    <div class="col s12">
                        <div class="file-field input-field col s6">
                            <div class="btn">
                                <span>Profile Image</span>
                                <input type="file" name="image_profile" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your profile image">
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="file-field input-field col s6">
                            <div class="btn">
                                <span>Banner Image</span>
                                <input type="file" name="image_banner" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your banner">
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field col s3">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                  </form>
              </div>
              <div id="social" style="display: block;">
                <form id="setting-form-social" action="/auth/setting/social"
                 method="POST">
                <a class="add_field_button btn-floating btn-large waves-effect waves-light red"><i class="material-icons add-social-field">add</i></a>
                <div class="input_fields_wrap">
                  <div class="col s12">
                      <div class="input-field col s3">
                          <input class="social_url" name="social_url[1]" type="text" class="validate">
                          <label>Link</label>
                      </div>
                      <div class="input-field col s3">
                          <input class="social_name" name="social_name[1]" type="text" class="validate">
                          <label>Name</label>
                      </div>
                  </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s3">
                        <button id="setting-form-social-submit" class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
              </form>
              </div>
            </div>
          </div>
    </div>
</div>
