<h2>Models</h2>

<div class="" style="background:rgba(87, 81, 81, 0.81)">
  <%= @models %>
</div>

<ul class="collection">
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>
</ul>
