<div class="container">
  <div class="row">
  <div class="col s8">
  <h5 class="center-align" style="box-shadow: 0 0 2px 0px black;">New Songs</h5>
  <% (1..4).each do |i| %>
<div class="sound_body" style="
    margin-top: 2.5%;
    /* display: inline-block; */
    background-color: rgba(0, 150, 136, 0.54);
    /* box-shadow: 0 0 3px 0px black; */
">
        
        <div style="
    padding-top: 5px;
    background-color: #ececec;
">


<h5 class="center-align" style="
    width: 20%;
    display: inline-block;
">Rock Jazz</h5>
  <a class="btn" href="#!" style="
    display: inline-block;
    vertical-align: super;
"><i class="material-icons" style="
    vertical-align: sub;
">favorite</i>12</a>

</div><figure style="
    float: left;
">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQr6ryRYZdNHm6H-g6nFuiqs78i2qdoIlmtCRj2v2uhu-848Hh8O_u2Ykgzgg" alt="" style="
    width: 120px;
">
        </figure>
        
      <div style="
    display: flex;
    padding-top: 8%;
    margin-right: 15%;
"><h4 class="center-align" style="
    margin-top: 0;
    ">
          <small>Jacob Marshall</small>
          Darkness Soul
        </h4></div>
  <small style="
    float: right;
    margin-right: 2%;
">later 2 hours ago</small>


<audio controls="" style="
    vertical-align: top;
    width: 100%;
"></audio></div>
<% end %>
  </div>
<div class="col s4">
    <h5 class="center-align" style="box-shadow: 0 0 2px 0px black;">New Albums</h5>
    <ul class="collection">
    <% (1..4).each do |i| %>
                 <li class="collection-item avatar">
      <a href="!#" class="album-description" data-tooltip-id="939aa747-447b-1058-25d8-c71fbd74f333">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTyO5ZXepBuZ_Ah_ldT899ppLNVMwUM5rfmRrjzPtzmdK3iY4v7" alt="" class="circle" style="
    margin-top: 3%;
">
      <span class="title">The Sad Lacra</span>
      <p>Math | Rock | Lacreo</p></a>
      <hr>
      </li>
      <% end %>
    </ul>
  </div>
<div class="col s4">
  <h5 class="center-align" style="box-shadow: 0 0 2px 0px black;">Last comments</h5>
  <ul class="collection">
      <% (1..4).each do |i| %>
      <li class="collection-item"  style="margin-bottom: 2%;">
      <a href="!#">
      <small style="float: right;">later 2 hours ago</small><span class="title">Jason Bekler say:</span>
      <blockquote style="font-size: 0.7em;">This song is very mierda brodersote and tu mama ... </blockquote>
      <span class="title">In Song: Sadness Life</span><br>
      </a>
      </li>
      <% end %>
  </ul>
</div>
</div>
</div>


<script>
        $('.album-description').tooltip({
            delay: 40,
            tooltip: "Sad album for sad people :(",
            position: "right"
        });
</script>