<div class="container">
  <div class="row">
    <div class="col-s6">
      <h2>Home <span style="color:rgb(56, 203, 92)">TODO</span></h2>
      <ul>
        <li>Aca van todas las canciones que pueda poner ordenadamente en el div col-9</li>
        <li>Usuarios y sus datos en un sidebar</li>
        <li>Comentarios en tus cosas en un sidebar</li>
      </ul>
    </div>
  </div>
</div>
