<div class="column column.is-7">
<h2>Upload Music</h2>
<form action="/music/create"
      method="POST"
      enctype="multipart/form-data">
  <label for="">file</label>
  <input class="" type="file" name="file">
  <label for="">title</label>
  <input class="" type="text" name="title"
         value="sweet, sweet love">
  <label>description</label>
  <input class="" type="text" name="description"
         value="sweet, sweet love is a un beta loco">
  <label>genre</label>
  <input class="" type="text" name="genre"  value="block metal">
  <label>type</label>
  <select class="" name="type">
    <option selected="selected" value="original">original</option>
    <option value="remix">remix</option>
    <option value="live">live</option>
    <option value="recording">recording</option>
    <option value="work">work</option>
    <option value="effect">effect</option>
    <option value="other">other</option>
  </select>
  <label>license</label>
  <select class="" name="license">
    <option selected="selected" value="creative_commons">All right reserved</option>
    <option value="all_right_reserved">Creative Commons</option>
  </select>
  <hr>
  <input type="submit" value="Create Song" class="button">
</form>
</div>
