<h2>Upload Music</h2>
<form action="/music/upload"
      method="POST"
      enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="name" name="name">
      <input type="submit" value="Upload">

</form>
