$color: rgb(227, 129, 129);

.user-card{
  height: 180px;
}

.image-profile{
  background-color: transparent;
  position: relative;
  width: 115px;
  margin: 0 auto;
}

.name_display{
  color: rgb(219, 75, 75) !important;
}

.name_display:hover{
  text-decoration: none
}

@keyframes fadetoggle {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0; display: none;}
}

.flash {
  text-align: center;
  padding: .3em .4em;
  margin: 0 auto .5em;
  clear: both;
  max-width: 46.923em;
  /* 610/13 */
  *max-width: 45.750em;
  /* 610/13.3333 - for IE */
  animation: 4s fadetoggle;
  animation-fill-mode: forwards;

  &.error {
    border: thin solid rgb(218, 68, 68);
    background: rgba(184, 96, 96, 0.64);
  }
  &.notice, &.info {
    border: thin solid rgb(47, 217, 176);
    background: rgba(96, 184, 150, 0.56);
  }
  &.warning {
    border: thin solid rgba(233, 167, 40, 0.56);
    background: rgba(246, 164, 5, 0.5);
  }
  .close {
    float: right;
    a {
      color: rgba(168, 0, 0, 0.85);
      text-decoration: none;
    }
  }
}

.info--wraper{
  border-left: 1px solid rgb(214, 214, 214);
}
.infoTitle{
  font-size: 1em
}
body > div.container-fluid > div > div.info--wraper.col.s3 > article > table > tbody > tr > td > a > h3{
  margin:0;
  margin-top: 5px
}
body > div.container-fluid > div > div.col.s3 > article > table > tbody > tr > td{
  padding: 0;
}
